[Login]
# The login username for the bot.
Username = ZeroBot
# The login password for the bot.
Password = none
# This must be one of the names listed under the [Servers] section. It is case sensitive.
Server = Local
# Encryption should be either Subspace or Continuum
Encryption = Subspace

[General]
# Sets the default arena. -1 means any public arena, any other number means a specific public arena.
# Removing this will default to any public arena.
# This can be overridden in a zone-specific section with the same key name.
Arena = -1
# Sets the name of the owner of the bot. This is shown in the !help command.
Owner = *unset*
# Sets the log level threshold so only log messages of that level or higher are displayed.
# Must be one of these: Jabber, Debug, Info, Warning, Error
LogLevel = Info
# Sets the default ship. This can overridden in a zone-specific section with the same key name.
RequestShip = 1
# Sets the default behavior. This can be overridden in a zone-specific section with the same key name.
#Behavior = center

[Subgame]
RequestShip = 5

[Hyperspace]
Behavior = center-jav

[MetalGear]
Behavior = jugg
RequestShip = 6
#Arena = duel

# Only these servers are supported. The names must not be changed.
[Servers]
Local = 127.0.0.1:5000
Subgame = 127.0.0.1:5002
Hyperspace = 162.248.95.143:5005
Devastation = 69.164.220.203:7022
MetalGear = 69.164.220.203:14000
ExtremeGames = 208.118.63.35:7900

[Debug]
# Set this to 1 to display a window with the game rendered. This requires the graphics folder from Continuum.
RenderWindow = 0
# Set this to 1 to render a text display of the execution path for the behavior tree.
RenderBehaviorTree = 0
