[Login]
# The login username for the bot.
Username = ZeroBot
# The login password for the bot.
Password = none
# This must be one of the names listed under the [Servers] section. It is case sensitive.
Server = Local
# Encryption should be either Subspace or Continuum
Encryption = Subspace

# Only these servers are supported. The names must not be changed.
[Servers]
Local = 127.0.0.1:5000
Subgame = 192.168.40.41:5002
Hyperspace = 162.248.95.143:5005
Devastation = 69.164.220.203:7022
MetalGear = 69.164.220.203:14000
ExtremeGames = 208.118.63.35:7900
