[Login]
# The login username for the bot.
Username = ZeroBot
# The login password for the bot.
Password = none
# This must be one of the names listed under the [Servers] section. It is case sensitive.
Server = Subgame
# Encryption should be either Subspace or Continuum
Encryption = Subspace

[General]
# Sets the default arena. -1 means any public arena, any other number means a specific public arena.
# Removing this will default to any public arena.
# This can be overridden in a zone-specific section with the same key name.
Arena = -1
# Sets the name of the owner of the bot. This is shown in the !help command.
Owner = *unset*
# Sets the log level threshold so only log messages of that level or higher are displayed.
# Must be one of these: Jabber, Debug, Info, Warning, Error
LogLevel = Info
# Sets the default ship. This can overridden in a zone-specific section with the same key name.
RequestShip = 1
# Sets the default behavior. This can be overridden in a zone-specific section with the same key name.
#Behavior = center
# How many milliseconds the bot should sleep per update.
# Increasing this will reduce how often the bot is updated, but will use less cpu.
SleepMs = 1

[Subgame]
RequestShip = 5

[Hyperspace]
Behavior = center-jav

[MetalGear]
Behavior = jugg
RequestShip = 6
#Arena = duel

[Nexus]
Freq = 123

[TrenchWars]
RequestShip = 3
# Sets the chats to join when entering.
Chat = zerotw
# Set this to 1 to broadcast command use to the first chat.
CommandBroadcast = 1

[ExtremeGames]
RequestShip = 3
Behavior = base
Arena = eg
BaseCount = 8
# List of fallback waypoint positions formatted as { x, y }; { x, y }; { x, y }
Waypoints = { 450, 460 }; { 575, 460 }; { 575, 560 }; { 450, 560 }

# Only these servers are supported. The names must not be changed.
[Servers]
Local = 127.0.0.1:5000
Subgame = 127.0.0.1:5002
Hyperspace = 162.248.95.143:5005
Devastation = 69.164.220.203:7022
MetalGear = 69.164.220.203:14000
ExtremeGames = 208.118.63.35:7900
TrenchWars = 127.0.0.1:5000
Nexus = 127.0.0.1:5000

[Debug]
# Set this to 1 to display a window with the game rendered. This requires the graphics folder from Continuum.
RenderWindow = 0
# Set this to 1 to render a text display of the execution path for the behavior tree.
RenderBehaviorTree = 0

# Each key in this group will be added as an operator for the bot. The value of the key is the integer level for their access.
# Unlisted players will have *default* access level. Arena broadcasts will have *arena* access level.
# Higher value means access to more commands. For example, the !say command requires level 10 access.
# Negative values will revoke access to the default commands.
[Operators]
*default* = 0
*arena* = 5
monkey = 10
taz = 10

# Each key-value pair in this group will set the command's required access level.
# Any commands not listed here will use their default access level.
# command = integer level
[CommandAccess]
go = 3
